#sidebar {
  width: 250px;
  height: 100vh;
  float: left;
}
.icon {
  position: absolute;
  right: 5px;
}
.info-icon {
  float: right;
}
.group-divider {
  width: 220px;
  border: 2px solid black;
  border-radius: 2px;
  margin-bottom: 10px;
}
.layer {
  width: inherit;
  border: 1px solid black;
  background-color: rgb(217, 217, 217);
  border-radius: 2px;
  margin-bottom: 10px;
  cursor: pointer;
}
.drop-zone {
  width: inherit;
  height: 100px;
  text-align: center;
  border: 2px dotted black;
  border-radius: 8px;
  bottom: 0px;
}
.template {
  width: inherit;
  border: 1px solid black;
  margin-bottom: 10px;
  background-color: rgb(173, 173, 173);
  cursor: pointer;
}
.processing-field {
  width: inherit;
  border: 1px solid black;
  margin-bottom: 5px;
  background-color: rgb(223, 223, 223);
}
.properties-menu {
  width: inherit;
  height: fit-content;
}
